*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 10px;
    width: 100%;
    height: 80px;
    background: black;
    display: grid;
    grid-template-columns: repeat(5,calc(100%/5));
    grid-template-areas:
    "item1 item2 item3 item4 item5";

}
.FirstItem{
    grid-area: item1;
    justify-self: center;
    align-self: center;
}
.SecondtItem{
    grid-area: item2;
    justify-self: center;
    align-self: center;
}
.ThirdItem{
    grid-area: item3;
    justify-self: center;
    align-self: center;
}
.FourthItem{
    grid-area: item4;
    justify-self: center;
    align-self: center;
    font-weight: bolder;
}
.FifthItem{
    grid-area: item5;
    justify-self: center;
    align-self: center;
}
a{
    text-decoration:none;
    color: white;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: white;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.header_list{
    display: none;
}

main{
    display: grid;
    height: 100%;
    margin-top: 30px;
    grid-template-columns:repeat(3,calc(100%/3));
    gap: 20px;
    grid-template-areas: "item1 item2 item3";
}
.card1{
    margin-top: 160px;
    grid-area: item1;
    justify-self: center;
    align-self: center;
    height: 580px;
    width: 440px;
    cursor: pointer;

}
.card2{
    margin-top: 160px;
    grid-area: item2;
    justify-self: center;
    align-self: center;
    height: 580px;
    width: 440px;
    cursor: pointer;
}
.card3{
    margin-top: 160px;
    grid-area: item3;
    justify-self: center;
    align-self: center;

    height: 580px;
    width: 440px;
    cursor: pointer;
}
.card1:hover .front1, .card2:hover .front2, .card3:hover .front3{
    transform: perspective(600px) rotateY(-180deg);
}
.card1:hover .back1,.card2:hover .back2, .card3:hover .back3{
    transform: perspective(600px) rotateY(0);
}
.front1, .back1,.front2, .back2, .front3, .back3{
    height: 580px;
    width: 440px;
    overflow: hidden;
    position: absolute;
    transition: transform .9s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background:black;
}
.front1, .front2, .front3{
    transform: perspective(600px) rotateY(0);

}
.back1, .back2, .back3{
    transform: perspective(600px) rotateY(180deg);
    font-size: 26px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: white;
}
.back1 p,.back2 p, .back3 p{
    color: white;
}
.front1 .photo, .front2 .photo, .front3 .photo{
    height: 30px;

}
.front1 .name, .front2 .name, .front3 .name{
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.card1 .about, .card2 .about, .card3 .about{
    margin-top: 400px;
    width: 433px;
    height: 52px;
    font-size: 39px;
    background-color: rgba(54, 47, 47, 0.6);
    color: white;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.header_burder{
    display: none;
}
.header_list{
    display: none;
}

.header_list.active{
    transform:translateX(0);
}
.header_list li{
    list-style:none;
    margin-bottom: 3%;
}

.header_burger.active span{
    display: none;

}
.header_burger.active:before{
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);

}
.header_burger.active:after{
    top:50%;
    transform: translate(-50%,-50%) rotate(-45deg);

}



@media screen and (max-width: 1000px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .FirstItem, .SecondtItem, .FourthItem, .FifthItem {
        display: none;
    }
    .ThirdItem{

    }
    .header_burger {

        justify-self: start;
        align-self: center;
        display: block;
        position: relative;
        width: 60px;
        height: 30px;
        z-index: 7;
        margin-left: 50px;
    }
    .header_list li{
        list-style:none;
        margin-bottom: 3%;
    }

    .header_burger span {

        position: absolute;
        background-color: white;
        width: 90%;
        height: 4px;
        top: 15px;
        transition: all 0.5s;
    }

    .header_burger:before {
        top: 2px;
        content: '';
        background-color: white;
        position: absolute;
        width: 90%;
        height: 4px;

    }

    .header_burger:after {
        bottom: -2px;
        content: '';
        background-color: white;
        position: absolute;
        width: 90%;
        height: 4px;
    }

    .header_list {
        margin-top: 13%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 80;
    }
    .header_list {
        margin-top:14%;
    }
    main {
        margin-top: 2%;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(2, 1fr);
        gap: 40px;
        grid-template-areas: "it1 it2"
                            "it3 it3";
    }

    .card1 {
        margin-top: 160px;
        grid-area: it1;
        justify-self: center;
        align-self: center;
        height: 580px;
        width: 440px;
        cursor: pointer;

    }

    .card2 {
        margin-top: 160px;
        grid-area: it2;
        justify-self: center;
        align-self: center;
        height: 580px;
        width: 440px;
        cursor: pointer;
    }

    .card3 {
        margin-top: 1%;
        grid-area: it3;
        justify-self: center;
        align-self: center;
        height: 580px;
        width: 440px;
        cursor: pointer;
    }


}

@media screen and (max-width: 450px) {

    .header_list {
        margin-top:25%;
    }
    .header_list li {
        list-style: none;
        margin-top: 8%;
    }
    main {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap: 20px;
        grid-template-areas: "it1"
                            "it2"
                             "it3";
    }

    .card1 {
        margin-top: 50px;
        grid-area: it1;
        justify-self: center;
        align-self: center;
        height: 580px;
        max-width: 440px;
        cursor: pointer;

    }

    .card2 {
        margin-top: 160px;
        grid-area: it2;
        justify-self: center;
        align-self: center;
        height: 580px;
        max-width: 440px;
        cursor: pointer;
    }

    .card3 {
        grid-area: it3;
        justify-self: center;
        align-self: center;
        height: 580px;
        max-width: 440px;
        cursor: pointer;
    }

}







